
@{
    ViewBag.Title = "Mua Hàng Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="card">
        <div class="card-body text-center">
            <h4>Cảm ơn bạn đã mua hàng tại Shop</h4>
            <p>Đơn hàng sẽ nhanh chóng được xử lý và giao đến cho bạn!</p>
            <a href="/Home" class="btn btn-light"> Tiếp tục mua sắm </a>
        </div>
    </div>
</main>