
@{
    ViewBag.Title = "Sản Phẩm Yêu Thích";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <article class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <figure class="itemside mb-4">
                        <div class="aside"><img src="images/items/1.jpg" class="border img-md"></div>
                        <figcaption class="info">
                            <a href="#" class="title">Tên SP</a>
                            <p class="price mb-2">Đơn giá</p>
                            <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Xóa"> <i class="fa fa-times"></i> </a>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-6">
                    <figure class="itemside mb-4">
                        <div class="aside"><img src="images/items/2.jpg" class="border img-md"></div>
                        <figcaption class="info">
                            <a href="#" class="title">Tên SP </a>
                            <p class="price mb-2">Đơn giá</p>
                            <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Xóa"> <i class="fa fa-times"></i> </a>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->

                <div class="col-md-6">
                    <figure class="itemside mb-4">
                        <div class="aside"><img src="images/items/3.jpg" class="border img-md"></div>
                        <figcaption class="info">
                            <a href="#" class="title">Tên SP </a>
                            <p class="price mb-2">Đơn giá</p>
                            <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Xóa"> <i class="fa fa-times"></i> </a>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row .//  -->

        </div> <!-- card-body.// -->
    </article>
</main>